.background {
  background-color: #202040;
  table-layout: fixed;
  border-spacing: 0;
}
.background td {
  padding: 0;
}
.actor {
  position: absolute;
}
.lava {
  background-color: #FF6363;
}
.wall {
  background-color: #543864;
}
.coin {
  background-color: #FFBD69;
}
.player {
  background-color: #17A589;
}
.lost .player {
  background-color: #7B241C;
}
.won .player {
  background-color: #117864;
}
